.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}
.header-logo {
    width: 200px; /* Tamaño pequeño para el logo */
    height: auto; /* Mantiene la proporción */
    display: inline-block; /* Para que text-align: center funcione */
}
.register-card {
    background: #000000;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
    color: #ffffff;
}

.form-group {
    text-align: left;
    margin-bottom: 1rem;
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border-color: #a000fe;
}

button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: #a000fe;
    color: #fff;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a000fe;
}

button:disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
}

.error-message {
    color: #e53935;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.login-link {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #a000fe;
}

.login-link a {
    color: #a000fe;
    text-decoration: none;
    font-weight: 600;
}
